In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from mpl_toolkits.mplot3d import Axes3D
import plotly.express as px
%matplotlib inline

In [17]:
df=pd.read_csv("PFconf_400_100_5_0.05_10_5000_5", sep=" ", index_col=False, header=None, names=['obj1','obj2','obj3','obj4','obj5'])

In [18]:
df

           obj1      obj2      obj3      obj4      obj5
0     -0.264199 -0.194092  0.748401  0.965278  0.983413
1     -0.307854  0.371624  0.773006  0.956210  0.997904
2     -0.319516  0.545392  0.775402  0.990061  0.968327
3     -0.318078  0.526760  0.775051  0.991322  0.998099
4     -0.325630  0.525940  0.779122  0.972465  0.997904
...         ...       ...       ...       ...       ...
14258 -0.235765  0.467488  0.762538  0.685930  0.981376
14259 -0.595848 -0.074940  0.993587  0.423706  0.127869
14260  0.734899 -0.200852  0.251044  0.929145  0.645192
14261 -0.214144  0.298900  0.784632  0.073806  0.990233
14262  0.355844 -0.993696  0.311128  1.042344  0.025029

[14263 rows x 5 columns]